* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(248, 229, 200);
  padding: 10px;
  border: 2px solid black;
}

header {
  letter-spacing: 8px;
  font-size: 2em;
  background-color: black;
  text-align: center;
  color: blanchedalmond;
  padding: 1em;
}

footer {
  background-color: black;
  color: blanchedalmond;
  width: 100%;
  text-align: center;
  padding: 1em;
  align-self: flex-end;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr;
  grid-template-areas: "section section section aside";
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.6em;
  margin-bottom: 1.6em;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.section {
  grid-area: section;
  background-color: white;
  color: black;
  padding: 3em;
}

.aside {
  grid-area: aside;
  background-color: white;
  border: 0.5px solid black;
}

.aside p {
  background-color: white;
  color: black;
  text-align: center;
  padding: 15px;
}

/*Menu*/

.menu-area a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blanchedalmond;
  background: black;
  height: 50px;
  text-decoration: dotted;
  transition: all 0.2s linear;
}

.menu-area a:hover {
  background-color: blanchedalmond;
  color: black;
}

.menu-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  border: 0.5px solid black;
}

.menu-area li {
  position: relative;
  width: 100%;
  text-align: center;
}

.menu-area li:hover .dropdown-1 > li {
  top: 0;
  display: block;
}

.dropdown-1 li {
  display: none;
  position: relative;
}

.dropdown-1 li a {
  position: relative;
  transition: all 0.4s linear;
}

.dropdown-1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown-1 li:hover {
  background: #ccc;
  display: block;
}

figure img {
  border: 2px solid;
  color: black;
  width: 100%;
  height: 100%;
}

figure img:hover {
  -webkit-transform: scale(1.3);
  transition: 0.5s;
  transform: scale(1.3);
}

.resource {
  padding: 25px 20px;
  background-color: rgb(100, 100, 100);
  border: 3px blanchedalmond solid;
}

.resource iframe {
  margin: 0 auto;
  display: block;
}

h2 {
  padding: 10px;
}

p {
  padding: 10px;
  justify-content: left;
}

/*footer flex*/
.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-flex div {
  padding: 20px;
}

.information {
  display: flex;
  flex-direction: column;
  background: black;
  width: 100%;
  justify-self: center;
  align-items: center;
  border: 1px black solid;
}

.information div {
  padding: 15px;
  letter-spacing: 2px;
  font-size: 1em;
  background-color: black;
  color: blanchedalmond;
  padding: 10px;
}

#photo {
  border: 2px solid blanchedalmond;
  width: 40%;
}
